<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WixSharp-wix4.WPF" version="2.14.1" targetFramework="net48" />
  <package id="WixSharp_wix4.bin" version="2.14.1" targetFramework="net48" />
  <package id="WixToolset.Dtf.WindowsInstaller" version="4.0.1" targetFramework="net48" />
  <package id="WixToolset.Mba.Core" version="4.0.1" targetFramework="net48" />
</packages>